<main class="main">
  <div class="container">
    <div class="catagory-slider">
      <splide [options]="splideOptions">
        <splide-slide>
          <h2>
          Item 1
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 2 Item 2
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 3
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 4 Item 4
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 5
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 6 Item 6
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 7
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 8 Item 8
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 9
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 10 Item 10
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 11
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 12 Item 12
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 13
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 14 Item 14
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 15
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 16 Item 6
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 17
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 18 Item 8
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 19
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 20 Item 10
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 21
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 22 Item 2
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 23
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 24 Item 4
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 25
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 26 Item 6
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 27
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 28 Item 8
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 29
          </h2>
        </splide-slide>
        <splide-slide>
          <h2>
          Item 30 Item 10
          </h2>
        </splide-slide>
      </splide>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
