/* You can add global styles to this file, and also import other style files */
main {
    overflow: hidden;
}
.container {
    max-width: 1150px;
    margin: 0 auto;
}
.catagory-slider {
    .splide__track {
        overflow: visible;
        .splide__slide {
            padding: 33px 30px;
            border: 1px solid #022F37;
            border-radius: 24px;
            h2 {
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;
                margin: 0;
            }
        }
    }
}